#sidebar{
    /*margin-top: 80px;*/
}
@media (min-width: 768px) {
    #sidebar {
        height: 100vh;
        /*position: sticky;*/
        /*top: 0;*/
    }
}
@media (max-width: 767px) {
    #sidebar .navbar-nav {
        flex-direction: row !important;
    }
    #sidebar .nav-item {
        flex-grow: 1;
        text-align: center;
    }
}