@media (min-width: 768px) {
    #sidebar {
    height:120vh} }
@media (max-width: 767px) {
    #sidebar .navbar-nav {
        flex-direction: row !important;
    }
    #sidebar .nav-item {
        flex-grow: 1;
        text-align: center;
    }
}