<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
</head>
<body>
    <h1>Bienvenue cher client</h1>
    <form action="" method="post">
        <label for="email" >Email</label>
        <input type="email" required placeholder="email@mail.com" id="emailAdress" name="emailAdress">
        <label for="text">Mot de passe</label>
        <input type="password" name="password" id="password" required minlength="9">
        <button type="submit">Se connecter</button>
    </form>
</body>
</html>